{% extends "base.html" %}
{% block title %}{{ ciudad }}{% endblock %}
{% block nav %}
    <a class="nav-link active" href="/alojamientos/{{ ciudad.id }}">Alojamientos</a>
    <a class="nav-link" href="/aparcamientos/{{ ciudad.id }}">Aparcamientos</a>
    <a class="nav-link" href="#">Transportes</a>

{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12 col-lg-6 mt-3">
            <form action="." method="POST" enctype="multipart/form-data" id="buscar">
            {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary form-control">Buscar</button>
            </form>
                 {% for alojamiento in alojamientos %}
                <div class="card booking-card">
                  <div class="view overlay">
                    <img class="card-img-top" src="{{ alojamiento.foto.url }}" alt="Card image cap">
                    <a href="#">
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
                  <div class="card-body">
                    <h4 class="card-title font-weight-bold" id="loca"><a>{{ alojamiento.nombre }}</a></h4>
                     <p class="card-text">{{ alojamiento.valoracion }}</p>
                    <hr class="my-4">
                    <a href="{{ alojamiento.get_absolute_url }}" class="btn btn-flat deep-purple-text p-1 mx-0 mb-0">Más info</a>
                  </div>
                </div>

    {% endfor %}
    </div>
    <div class="col-lg-6 mt-3">
        <div id="mapa">
        </div>
    </div>
    </div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuqyO6rP6S_609rthhZt0dbi_uAHgpM8s"></script>
<script src="/../static/js/alojamientos.js" type="text/javascript"></script>
    <script>

$(document).ready(function () {
    {% if barrio %}
        getBarrio("{{ barrio.localizacion }}")
    {% for alojamiento in alojamientos %}
        getMarkers("{{ alojamiento.localizacion }}")
    {% endfor %}
    {% else %}
        initMap("{{ ciudad.localizacion }}")
    {% for alojamiento in alojamientos %}
        getMarkers("{{ alojamiento.localizacion }}")
    {% endfor %}
    {% endif %}
});

</script>
{% endblock %}
