{% extends "base.html" %}
{% block title %}{{ ciudad }}{% endblock %}
{% block nav %}
    <a class="nav-link" href="/alojamientos/{{ ciudad.id }}">Alojamientos</a>
    <a class="nav-link active" href="/aparcamientos/{{ ciudad.id }}">Aparcamientos</a>
    <a class="nav-link" href="#">Transportes</a>
{% endblock %}
{% block content %}
    <div class="row">
    <div class="col-sm-12 col-md-4 ">
                <form action="." method="POST" enctype="multipart/form-data" id="buscar">
                {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary form-control">Buscar</button>
                </form>
    </div>

    <div class="col-md-8 mt-3">
        <div id="mapa">
        </div>
    </div>
    </div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuqyO6rP6S_609rthhZt0dbi_uAHgpM8s"></script>
    <script src="/../static/js/aparcamientos.js"></script>
<script>
$(document).ready(function () {

    {% if barrio %}
        getBarrio("{{ barrio.localizacion }}")
    {% for aparcamiento in aparcamientos %}
        getMarkers("{{ aparcamiento.localizacion }}")
    {% endfor %}
    {% else %}
        initMap("{{ ciudad.localizacion }}")
    {% for aparcamiento in aparcamientos %}
        getMarkers("{{ aparcamiento.localizacion }}")
    {% endfor %}
    {% endif %}
});

</script>
{% endblock %}
