{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <h1 id="titulo_login">Portal handitour</h1>
     <div class="row">
        <div class="col-lg-6 mt-3">

        <form action="." method="POST" enctype="multipart/form-data" id="login">
            {% csrf_token %}

            {{ formLogin.as_p }}

            <button type="submit" class="btn btn-primary form-control">Entrar</button>
        </form>
        </div>
        <div class="col-lg-6 mt-3">

        <form action="." method="POST" enctype="multipart/form-data" id="login">
            {% csrf_token %}

            {{ formAlta.as_p }}

            <button type="submit" class="btn btn-primary form-control">Registrarse</button>
        </form>
    </div>
    </div>
{% endblock %}