{% extends "base.html" %}
{% block title %}{{ ciudad }}{% endblock %}
{% block nav %}
    <a class="nav-link" href="#">Alojamientos</a>
    <a class="nav-link" href="#">Transportes</a>

{% endblock %}
{% block content %}
    <div class="row">
        {% for monumento in monumentos %}
            <div class="col-md-12 col-lg-6 mt-3" style="height: 600px; width: 200px; overflow: scroll;">
                <div class="card booking-card">
                  <div class="view overlay">
                    <img class="card-img-top" src="{{ monumento.foto.url }}" alt="Card image cap">
                    <a href="#">
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
                  <div class="card-body">
                    <h4 class="card-title font-weight-bold" id="loca"><a>{{ monumento.nombre }}</a></h4>
                     <p class="card-text">{{ monumento.historia }}</p>
                    <hr class="my-4">
                    <a href="#" class="btn btn-flat deep-purple-text p-1 mx-0 mb-0">Más info</a>
                  </div>
                </div>
    </div>
    {% endfor %}
    </div>
    <div class="row">
        <div id="mapa" onload="initialize()">
            {% load easy_maps_tags %}
{#            {% cache 600 mapa ciudad.localizacion %}#}
                {% easy_map "Cádiz" 400 400 %}
{#            {% endcache %}#}
        </div>
    </div>
{% endblock %}
