{% extends "base.html" %}
{% block title %}{{ ciudad }}{% endblock %}
{% block nav %}
    <a class="nav-link" href="/alojamientos/{{ ciudad.id }}">Alojamientos</a>
    <a class="nav-link" href="#">Transportes</a>

{% endblock %}
{% block content %}
    <div class="row">
             <div class="col-md-12 col-lg-6 mt-3" style="height: 600px; width: 200px; overflow: scroll;">
                 {% for monumento in monumentos %}
                <div class="card booking-card">
                  <div class="view overlay">
                    <img class="card-img-top" src="{{ monumento.foto.url }}" alt="Card image cap">
                    <a href="#">
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
                  <div class="card-body">
                    <h4 class="card-title font-weight-bold" id="loca"><a>{{ monumento.nombre }}</a></h4>
                     <p class="card-text">{{ monumento.historia }}</p>
                    <hr class="my-4">
                    <a href="{{ monumento.get_absolute_url }}" class="btn btn-flat deep-purple-text p-1 mx-0 mb-0">Más info</a>
                  </div>
                </div>

    {% endfor %}
    </div>
    <div class="col-lg-6 mt-3">
        <div id="mapa" style="height: 500px; width: 500px">
        </div>
    </div>
    </div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuqyO6rP6S_609rthhZt0dbi_uAHgpM8s"></script>
<script>
let map
$(document).ready(function () {
    $.ajax(
        {
        url: 'https://maps.googleapis.com/maps/api/geocode/json?address={{ciudad.localizacion}}&key=AIzaSyDuqyO6rP6S_609rthhZt0dbi_uAHgpM8s',
        type: 'GET',
        dataType: 'text',
        success: function (data) {
            datos = JSON.parse(data);

            map = new google.maps.Map(document.getElementById("mapa"), {
                center: {lat: parseFloat(datos.results[0].geometry.location.lat) , lng: parseFloat(datos.results[0].geometry.location.lng)},
                zoom: 15,
            });
        },
        error: function () {
            alert("No hemos podido encontrar resultados");
        },
    });
    {% for monumento in monumentos %}
    $.ajax(
        {
        url: 'https://maps.googleapis.com/maps/api/geocode/json?address={{monumento.localizacion}}&key=AIzaSyDuqyO6rP6S_609rthhZt0dbi_uAHgpM8s',
        type: 'GET',
        dataType: 'text',
        success: function (data) {
            datos = JSON.parse(data);
            const marker = new google.maps.Marker({
            position: {lat: parseFloat(datos.results[0].geometry.location.lat) , lng: parseFloat(datos.results[0].geometry.location.lng)},
            map: map,
          });
        },
        error: function () {
            alert("No hemos podido encontrar resultados");
        },
    });
    {% endfor %}
});

</script>
{% endblock %}
