{% extends "base.html" %}
{% block title %}{{ ciudad }}{% endblock %}
{% block nav %}
    <a class="nav-link" href="#">Alojamientos</a>
    <a class="nav-link" href="#">Transportes</a>

{% endblock %}
{% block content %}
    <div class="row">
             <div class="col-md-12 col-lg-6 mt-3" style="height: 600px; width: 200px; overflow: scroll;">
                 {% for monumento in monumentos %}
                <div class="card booking-card">
                  <div class="view overlay">
                    <img class="card-img-top" src="{{ monumento.foto.url }}" alt="Card image cap">
                    <a href="#">
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
                  <div class="card-body">
                    <h4 class="card-title font-weight-bold" id="loca"><a>{{ monumento.nombre }}</a></h4>
                     <p class="card-text">{{ monumento.historia }}</p>
                    <hr class="my-4">
                    <a href="#" class="btn btn-flat deep-purple-text p-1 mx-0 mb-0">Más info</a>
                  </div>
                </div>

    {% endfor %}
    </div>
    <div class="col-lg-6 mt-3">
        <div id="mapa" style="height: 500px; width: 500px">
        </div>
    </div>
    </div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuqyO6rP6S_609rthhZt0dbi_uAHgpM8s"></script>
<script>
let map
		$.ajax ({
			url: 'https://maps.googleapis.com/maps/api/geocode/json?address={{ciudad.localizacion}}&key=AIzaSyDuqyO6rP6S_609rthhZt0dbi_uAHgpM8s',
			type: 'POST',
			data: {

			},
			dataType: 'text',
			success: function(data) {
				datos = JSON.parse(data);
				  map = new google.maps.Map(document.getElementById("mapa"), {
				  center: { lat: datos.location.lat, lng: datos.location.lng },
                  zoom: 8,
                  });
                alert("dentro")
			},
			error: function() {
				alert("No hemos podido insertar");
			},
		});

</script>
{% endblock %}
