{% extends "base.html" %}
{% block title %}{{ monumento }}{% endblock %}
{% block nav %}
    <a class="nav-link" href="/alojamientos/{{ ciudad.id }}">Alojamientos</a>
    <a class="nav-link" href="/aparcamientos/{{ ciudad.id }}">Aparcamientos</a>
    <a class="nav-link" href="#">Transportes</a>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12 col-lg-4 mt-3" style="height: 600px; width: 200px; overflow: scroll;">
            <table>
                <thead>
                    <tr>
                        <th>Descripción</th>
                        <td>{{ monumento.historia }}</td>
                    </tr>
                    <tr>
                        <th>Año de inaguración</th>
                        <td>{{ monumento.agno_inaguracion }}</td>
                    </tr>
                    <tr>
                        <th>Precio pers</th>
                        <td>{{ monumento.precio_pers }}</td>
                    </tr>
                    <tr>
                        <th>Precio disc</th>
                        <td>{{ monumento.precio_disc }}</td>
                    </tr>
                    <tr>
                        <th>Barrio</th>
                        <td>{{ monumento.barrio }}</td>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="col-md-12 col-lg-4 mt-3">
             <img src="{{monumento.foto.url}}" id="imgmonumento" alt="...">
        </div>
        <div class="col-md-12 col-lg-4 mt-3">
            <div id="mapa" style="height: 500px; width: 500px">
            </div>
        </div>
    </div>
    <div class="row">
       {% if user.is_authenticated %}
            <form action="." method="POST" enctype="multipart/form-data" id="comentario">
            {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary form-control">Comentar</button>
            </form>
        {% else %}
            <p>Por favor, haga <a href="/login">Log in</a> para comentar </p>
        {% endif %}
    </div>

    <div class="row">
        {% if comentarios %}
            {% for comentario in comentarios %}
                {{ comentario }}
                <br>
            {% endfor %}
        {% else %}
            <p>Se el primero en comentar </p>
        {% endif %}
    </div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuqyO6rP6S_609rthhZt0dbi_uAHgpM8s"></script>
<script>
let map
$(document).ready(function () {
    $.ajax(
        {
        url: 'https://maps.googleapis.com/maps/api/geocode/json?address={{monumento.localizacion}}&key=AIzaSyDuqyO6rP6S_609rthhZt0dbi_uAHgpM8s',
        type: 'GET',
        dataType: 'text',
        success: function (data) {
            datos = JSON.parse(data);

            map = new google.maps.Map(document.getElementById("mapa"), {
                center: {lat: parseFloat(datos.results[0].geometry.location.lat) , lng: parseFloat(datos.results[0].geometry.location.lng)},
                zoom: 18,
            });
        },
        error: function () {
            alert("No hemos podido encontrar resultados");
        },
    });
});

</script>
{% endblock %}
