{% extends "base.html" %}
{% block title %}{{ ciudad }}{% endblock %}
{% block nav %}
    <a class="nav-link" href="/alojamientos/{{ ciudad.id }}">Alojamientos</a>
    <a class="nav-link" href="/aparcamientos/{{ ciudad.id }}">Aparcamientos</a>
   <a class="nav-link active" href="/transportes/{{ ciudad.id }}">Transportes</a>
{% endblock %}
{% block content %}
    <div class="row">
    <div class="col-sm-12 col-md-2 mt-2">
                <form action="." method="POST" enctype="multipart/form-data" id="buscar">
                {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary form-control">Buscar</button>
                </form>
            {% for parada in paradas %}
                <table>
                <thead>
                    <tr>
                        <th>Parada</th>
                        <td>{{ parada.nombre }}</td>
                    </tr>
                    <tr>
                        <th>Lineas</th>
                        <td>
                        {% for linea in parada.lineas.all %}
                            <p>{{ linea.numero_nombre }}</p>
                        {% endfor %}
                        </td>
                    </tr>
                </thead>

                </table>
            {% endfor %}

    </div>

    <div class="col-md-10 mt-3">
        <div id="mapa">
        </div>
    </div>
    </div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuqyO6rP6S_609rthhZt0dbi_uAHgpM8s"></script>
    <script src="/../static/js/transportes.js"></script>
<script>
$(document).ready(function () {

    {% if barrio %}
        getBarrio("{{ barrio.localizacion }}")
    {% for parada in paradas %}
        getMarkers("{{ parada.localizacion }}")
    {% endfor %}
    {% else %}
        initMap("{{ ciudad.localizacion }}")
    {% for parada in paradas %}
        getMarkers("{{ parada.localizacion }}")
    {% endfor %}
    {% endif %}
});

</script>
{% endblock %}
