@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;700&display=swap');
*{
    font-family: 'Noto Sans JP', sans-serif !important;
}

header{
    background-color: dodgerblue;
    text-align: center;
    width: 100%;
}

#imgmonumento{
    width: 90% ;
}
