@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;700&display=swap');
*{
    font-family: 'Noto Sans JP', sans-serif !important;
}

header{
    background-color: dodgerblue;
    text-align: center;
    width: 100%;
}

#imgmonumento{
    width: 90%;
}

.card{
    width: 18rem;
    margin-right: 2%;
    margin-bottom: 2%;
}

.ciudad.card-img-top{
    height: 200px;
}

.card-booking{
    width: 200px;
}

.card-booking.card-body.btn-primary{
    background-color: darkgrey;
}