@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;700&display=swap');
*{
    font-family: 'Noto Sans JP', sans-serif !important;
}

header{
    background-color: dodgerblue;
    text-align: center;
    width: 100%;
}

#imgmonumento{
    width: 90%;
}

.card{
    width: 18rem;
    margin-right: 2%;
    margin-bottom: 2%;
}

.ciudad.card-img-top{
    height: 200px;
}

.card-booking{
    width: 200px;
}

.btn-primary:hover{
    background-color: white;
    border: dodgerblue 1px double;
    color: dodgerblue;
}

.card-booking.card-body.btn-primary{
    background-color: darkgrey;
}

.col-md-12.col-lg-6.mt-3{
    height: 600px;
    width: 200px;
    overflow: scroll;
}

#mapa{
    height: 500px;
    width: 500px
}